{% extends 'base.html' %}
{% block title %}Acerca de{% endblock %}
{% block content %}
<div class="text-center">
    <h2>Acerca del Proyecto</h2>
    <p>Solo informativo e ilustativo .</p>
    <p>Pura crema nada de salsa.</p>
    <p>Me gusta el atletismo son fanatico y atleta me gustaria poder representar a mi pais ser alguien en la vida
        quiero estudiar ingenieria en sistemas o algo relacionado con la tecnologia mecatronica o algo asi
        soy alguien dedicado a lo que le gusta siempre me he visto en el futuro como una persona que cree que le ira
        bien
        porque esforzarse y luchar por lo que quiere y no rendirse jamas

    </p>
    <p>Muñoz Torres Jose Miguel </p>
</div>
{% endblock %}