{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="text-center">
  <h1>Bienvenido</h1>
  <p class="lead">Este sitio ofrece información sobre animales exóticos, vehículos antiguos y las maravillas del mundo.
  </p>
  <p>Explora cada sección para aprender más sobre nuestro planeta y su historia.</p>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='img/cetis61.jpg') }}" class="img-fluid rounded" alt="Imagen 1">
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='img/logo.png') }}" class="img-fluid rounded" alt="Imagen 2">
  </div>
</div>
{% endblock %}